
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    list-style: none !important;
    text-decoration: none !important;
}



ul, a, p, h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}


body{
    min-width: 320px;
}

/* header menu */
/* ************************************************************************************************************************** */

.header__navbar{
    background: #000;
    border-radius: 10px;
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.header__nav-link{
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    padding: 16px 30px;
    border-radius: 10px;
    background: #7f15e6;
    margin-left: 10px;
    font-weight: 700;
    transition: 0.5s;
    display: block;
}

.header__nav-link:hover{
    background: #d4aafd;
    color: #7f15e6;
}

.header__menu-icon{
    color: #fff;
    font-size: 25px;
}

.header__link{
    background: #000;
    border-radius: 10px;
    padding: 8px;
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__link-ul{
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
}

.header__link-item{
    padding: 12px 16px;
    border: 2px solid #ff118c;
    display: block;
    border-radius: 8px;
    margin-right: 7px;
    color: #fff;
    background: #ff118c;
    transition: 0.5s;
}


.header__link-item:hover{
    background: transparent;
    color: white;
    margin-right: 12px;
}


.header__link-bell{
    font-size: 25px;
    color: #fff;
    transition: 0.5s;
}

.header__link-bell:hover{
    color: #ff118c;
}

/* header end */
/* ****************************************************************************************************************************** */


/* slider */
/* ****************************************************************************************************************************** */

.carousel-item{
    width: 100%;
    position: relative;
    border-radius: 8px;
}

.slider .carousel-inner{
    border-radius: 8px;
}

.slider__text{
    position: absolute;
    max-width: 365px;
    width: 100%;
    top: 50px;
    left: 42px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.slider__text-title{
    font-size: 30px;
    color: #fff;
}

.slider__text-ul{
    display: flex;
    margin-top: 47px;
}

.slider__text-li{
   font-size: 17px;
   color: #fff;
   margin-right: 37px;
}

.slider__text-link{
    font-size: 17px;
    color: #fff;
    padding: 16px 37px;
    display: block;
    border-radius: 8px;
    background: #c00f63;
    margin-top: 27px;
    transition: 0.5s;
}

.slider__text-link:hover{
background: #fff;
color: #c00f63;
}


.slider__button{
    width: 82px;
    border-radius: 50px;
    border: 2px solid #6d00e3;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-top: 14px;
}

.slider__carousel-control{
    width: 34px;
    height: 26px;
    border-radius: 50px;
    box-shadow: 0 0 15px 6px #d4d0d8;
    border:  1px solid #6d00e3;
}
    

.slider__carousel-control i{
    color: #6d00e3;
}


.slider{
    margin-top: 42px;
}


.carousel-item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.Treanding__box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    padding-top: 32px;
    padding-bottom: 24px;
    margin-top: 22px;
}

.Treanding__box-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
     z-index: -1;
  
}

.Treanding__box-title{
    font-size: 20px;
    color: #fff;
   
}

.Treanding__box-text{
    font-size: 12px;
    color: #fff;
    margin-top: 9px;
}

.Treanding__box::after{
  width: 100%;
  content: '';
  height: 100%;
  background:rgba(0, 0, 0, 0.575) ;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;

}

.Treanding__box:hover::after{
    background: transparent;
} 

.Treanding__title{
    font-size: 17px;
    color: #000;
}




.slider__users{
    background: #e2e2e2;
    border-radius: 8px;
    padding: 20px;
}


.slider__users-box{
    padding: 28px 12px;
    display: flex;
    align-items: center; 
    transition: 0.5s;
    cursor: pointer;
}

.slider__users-box:hover{
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px 5px #c5c5c5;
}

.slider__users-name{
    font-size: 14px;
    color: #000;
    font-weight: 600;
    line-height: 12px;
}

.slider__users-title{
    font-size: 14px;
    color: #000;
}

.slider__users-img{
    margin-right: 8px;
}

/* slider end */
/* ********************************************************************************************************************************** */
/* tab start */


.tab__block-name{
    font-size: 14px;
    color: #fff;
}

.tab__block-text{
    background: rgba(0, 0, 0, 0.363);
    border-radius: 8px;
    padding: 15px;
    display: flex;
    flex-direction: column;
     position: absolute;
     bottom: 10px;
     right: 10px;
     left: 10px;
}

.tab__block-title{
    font-size: 12px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.tab__block-title img{
    margin-right: 8px;
}

.tab__block-number{
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 12px;
}

.tab__block-img{
    width: 100%;
}

.tab__block{
    position: relative;
    margin-bottom: 24px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
    background: #ff118c !important;
}

.nav-link{
    font-size: 12px;
    color: #000;
    border: 2px solid #ff118c !important;
    margin-left: 9px;
}

.nav{
    justify-content: flex-end;
}

.end-img{
    width: 100%;
}


/* media */
/* ************************************************************************************************************ */


@media (max-width: 991px) {
    .header__nav-link{
        margin-top: 15px;
    }

    .header__link-item{
        padding: 8px 5px;
    }

    .slider__users{
        margin-top: 40px;
    }
    .nav{
        margin-top: ;
    }
}

@media (max-width: 767px){
    .header__link-item{
        padding: 2px 5px;
    }

    .header__link{
        padding: 6px;
    }
}

@media (max-width: 450px) {
    .slider__text-title{
        font-size: 23px;
    }

    .slider__text-li{
        font-size: 12px;
        margin-right: 30px;
     }

     .slider__text-ul {
         margin-top: 30px;
    }
}


@media (max-width: 350px) {
    .slider__text{
        left: 15px;
    }
    .nav-link{
        padding: ;
    }
}
